<div class="recipe recipe-list-item">

    <div class="partida-cover">
        <a href="{% url 'games:viewPartida' game.id %}">
            <img src="{{ game.logoPartida.url }}" alt="Partida">
        </a>
    </div>

    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{% url 'games:viewPartida' game.id %}">
                {{ game.timeCasa }} x {{ game.timeVisitante }} - {{game.divisoePartida.liga}}
            </a>
        </h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-map-marker-alt"></i>
            {{game.cidadePartida}} / {{game.estadoPartida}}<br>
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            <!--17/05/2023 às 14:00-->
            {{game.dataPartida|date:"d/m/Y"}} às {{game.horarioPartida|date:"H:i"}}
        </span>
        <span class="recipe-author-item">
            <a href={% url 'games:buscar-liga' game.divisoePartida.id%}>
                <i class="fas fa-trophy"></i>
                <span><!--SPFL - Série Diamante-->
                {{game.divisoePartida}}</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Partida realizada no dia {{game.dataPartida|date:"d/m/Y"}} na cidade de {{game.cidadePartida}}/{{game.estadoPartida}}, onde o {{game.timeCasa.nomeEquipe}} irá receber o {{game.timeVisitante.nomeEquipe}}  em disputa pela {{game.divisoePartida}}
        </p>

    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-home"></i>{{game.timeCasa}}</h3>
            <div class="recipe-meta-text">
                Time da Casa
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-bus"></i>{{game.timeVisitante}}</h3>
            <div class="recipe-meta-text">
                Time da Visitante
            </div>
        </div>
    </div>

    {% if is_detail_page is not True %}
        <footer class="recipe-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'games:viewPartida' game.id %}">
                <i class="fas fa-eye"></i>
                <span>visualizar Partida...</span>
            </a>
        </footer>
    {% endif %}

    {% if is_detail_page is not false %}
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'games:cadJogada'  game.id%}">
            <i class="fas fa-eye"></i>
            <span>Cadastrar Jogadas...</span>
        </a>
    </footer>
{% endif %}

    {% if is_detail_page is True %}
        <div class="preparation-steps">
            {{ game.preparation_steps|linebreaksbr }}
        </div>
    {% endif %}
</div>